<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left" id="purgeCombineTitle"></div>
	</div>
</div>


<div class="palm-list">
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div class="preview" id="functDesc"></div>
		</div>
	</div>
</div>

<div class="palm-group unlabeled">
	<div class="palm-list">
		<div id="trsnUtilClearedRow" class="palm-row first">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" id="clearedToggle"></div>
				<div class="title" id="clear-toggle-label">Restrict to Cleared</div>
				<div class="preview" style="padding-bottom:5px;" id="clear-toggle-preview">Limit to Cleared transactions.</div>
			</div>
		</div>

		<div id="trsnUtilDateRow" class="palm-row last">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" id="dateToggle"></div>
				<div class="title" id="restrict-date-label">Restrict Date</div>
				<div class="preview" id="restrict-date-preview">Only includes items up to or including selected date.</div>
			</div>
		</div>

		<div class="centerForce center">
			<div id="date" x-mojo-element="DatePicker"></div>
		</div>
	</div>
</div>

<div class="palm-dialog-buttons">
	<div x-mojo-element="Button" id="okButton" style="width:48%; float:left; margin-bottom:-20px;"></div>

	<div x-mojo-element="Button" id="cancelButton" style="width:48%; float:right; margin-bottom:-20px;"></div>
</div>