<div>
	<span id="acct-cat-dialog-title" class="palm-dialog-title"></span>
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class='palm-row first'>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="acct-cat-name-label" class="label"></div>
						<div x-mojo-element="TextField" id="name" align="left"></div>
					</div>
				</div>
			</div>
			<div class='palm-row'>
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="color" align="left"></div>
				</div>
			</div>
			<div class='palm-row last'>
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="icon" align="left"></div>
				</div>
			</div>
		</div>
	</div>
	<div x-mojo-element="Button" id="okButton"></div>
</div>