<div>
	<span id="dialog-title" class="palm-dialog-title">Transaction Category</span>
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class='palm-row first'>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label" id="main-label">Main</div>
						<div x-mojo-element="TextField" id="genCat" align="left"></div>
					</div>
				</div>
			</div>
			<div class='palm-row last'>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label" id="secondary-label">Secondary</div>
						<div x-mojo-element="TextField" id="specCat" align="left"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div x-mojo-element="Button" id="okButton"></div>
</div>