<div class="palm-dialog-content" style="padding:0px;margin:0px;">
	<div class="palm-dialog-title" id="update-title"></div>
	<div class="palm-dialog-separator"></div>

	<div id="update-message"></div>

	<div id="update-toggle-container" class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ToggleButton" id="updateCheckNotification"></div>
					<div class="title" id="update-toggle"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="palm-dialog-buttons">
	<div>
		<div x-mojo-element="Button" id="okButton" style="width:48%; float:left;"></div>

		<div x-mojo-element="Button" id="cancelButton" style="width:48%; float:right;"></div>
	</div>
</div>