<div id='main' class='palm-hasheader'>
	<div id='main-hdr' class='palm-header'>
		<div id='account-balance-button' class='header-button custom-button black'>
			<div class='down-arrow'></div>
			<div id='tHeaderBalance' class='header-selector'></div>
		</div>

		<div id='account-switch-button' class='header-button custom-button black'>
			<div id='tHeaderIcon'></div>
		</div>
		<div id='tHeaderText' class='truncating-text'>
		</div>
	</div>
</div>

<div id='transactionList' x-mojo-element='List'></div>
