<div id="main" class="palm-hasheader">
	<div id="main-hdr" class="palm-header">
		<div id='balance-button' class='header-button right custom-button black'>
			<div class="down-arrow"></div>
			<div id='transactionHeaderBalance' class='header-selector'></div>
		</div>

		<div class='header-title truncating-text left'>
			<div class='left' style='padding-top:8px;padding-right:5px;'><img src='./images/dollar_sign_1.png' alt='' height='32' width='32' /></div>
			<span id="accounts-label">Accounts</span>
		</div>
	</div>
</div>

<div id="accountList" x-mojo-element="List"></div>