<div class="palm-row multi-line accountsData acctCatGroup#{acctCatId}" id="#{rowId}_account" style="#{dispAcct}" x-Mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<img src="./images/#{categoryIcon}" alt="" class="acctIcon" />
		<img src="./images/padlock_1.png" alt="" class="acctLockIcon #{lockedDisplay}" style="opacity:0.85;" />
		<div class="label #{fontColor}">#{balance}</div>
		<div class="title truncating-text #{hiddenColor}">#{name}</div>
		<div class="preview">#{descriptionDisplay}</div>
	</div>
</div>
